/*This file is for the regular version of the startpage (file index.html)
  The single page version has embedded styling for use with Firefox.
  This version is also probably more often updated.*/

/*Change these variables to match with your setup. These colors work for
  the image I used and my overall desktop theme (see here:
  https://i.imgur.com/gxMdNKi.png).*/

:root {
	--red: #ffffff;
	--white: #f8f8f2;
	--yellow: #ffffff;

	--bg: #000000;
	--fg: #0d0d0d;

	--search-bg: rgba(255, 255, 255, 0);
	}
@font-face {
	font-family: "Motoya";
	src: url("../MotoyaExMaru\ W55\ W7\ KP.ttf");
}
@font-face {
	font-family: "Iosevka";
	src: url("../ttf-iosevka-6.1.3/iosevka-regular.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
.lightmode {
	--red: #5f605b;
	--white: #7f807b;
	--yellow: #494846;

	--bg: #f0f0f0;
	--fg: #e7e7e7;

	--search-bg: rgba(255, 255, 255, 0);
}

body {
	background-image: 
	linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
	url('evening.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center; 
	font-family: 'Iosevka';
	color: var(--yellow);
	transition: all 0.25s ease-out;
}

.hvr-underline-from-center {
	display: inline-block;
	vertical-align: middle;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
  }
  .hvr-underline-from-center:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 51%;
	right: 51%;
	bottom: 0;
	background: #ffffff;
	height: 1px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
	left: 0;
	right: 0;
  }


#date {
    color: #f8f8f2;
    text-align: center;
}
.hvr-underline-from-center {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	overflow: hidden;
  }
  .hvr-underline-from-center:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 51%;
	right: 51%;
	bottom: 0;
	background: #f8f8f2;
	height: 1px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
	left: 0;
	right: 0;
  }
  
ul {
	list-style-type: none;
	text-align: center;
	padding: 2px 15px;
}

p[class=credits] > a {
	position: fixed;
	bottom: 7px;
	right: 10px;
}


#main_window {
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	width: 910px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	transition: all 0.25s;
	/* border: 1px solid white; */
}

#content {
	padding: 40px;
}

#links_container {
	display: flex;

	justify-content: center;
}

a {
	color: var(--white);
	margin: 0px 10px;
	text-decoration: none;
}


#links_container li {
    font-size: 13px;
}

#links_container a:hover {
	color: var(--red);
}

#links_container {
	padding-bottom: 13px;
}
.subtitle {
	color: var(--red);
	font-weight: bold;
        background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3c478, #f3ec78);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.title {
    font-family: "Motoya" !important;
    margin-bottom: 10px;
	font-size: 40px;
	font-style: italic;	
	font-weight: bold;
	text-align: center;
        background-color: #f3ec78;
    background-image: linear-gradient(45deg, #af4261, #f3ec78);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.image {
	min-height: 250px;
	max-width: 30px;
	float: left;
}

.bottom {
	position: fixed;
	bottom: 0;
	font-size: 0.52em;
}

.bottom a {
	text-decoration: none;
	color: var(--yellow);
}

.bottom a:hover {
	text-decoration: underline;
}

/*
  Transitions
*/
#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    background: var(--bg);
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
}

@keyframes fade-out {
    from { opacity: 1 }
      to { opacity: 0 }
}

@keyframes fade-in {
    from { opacity: 0 }
      to { opacity: 1 }
}

#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}

/*
  Media querries
*/
@media (max-width: 980px) {
    #links_container {
        margin-top: 35px;
    }

	img#leftImg {
    	height: 280px;
  	}

  	#main_window {
		width: 833px;
		padding-right: 0;
	}

	ul {
		padding-top: 0px;
		margin-top: -7px;
		text-align: center;
	}

	#content {
		padding-top: 0px;
	}
}

@media (max-width: 833px) {
    #links_container {
        margin-top: 35px;
    }
    
	img#leftImg {
		display: none;
	}

	#main_window {
		width: 650px;
	}

}

@media (max-width: 650px) {
	#main_window {
		width: 100%;
	}
}

@media (max-width: 450px) {
	form input[type="search"] {
		width: 90%;
	}
}
